.blockTic{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #343657;
}

.tictoctoe .square{
  background: white;
  border-radius: 0;
  border: solid 1px black;
  width: 60px;
  height: 60px;
  font-size: 40px;
  margin: 1px;
}

.tictoctoe .board-row{
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  color: white;
  text-transform: uppercase;
}

.status{
  color: white;
}

.reload{
  margin-top: 15px;
  text-align: center;
}

.reload button{
  border: solid 1px white;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  background: #BDA239;
  padding: 10px;
  border-radius: 5px;
}

/*#BDA239*/
